
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>StudyShare</title>

    <link href="public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="public/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="public/css/jquery-ui.css" rel="stylesheet" />
    <link href="public/css/font-awesome.min.css" rel="stylesheet" />
    <link href="public/css/Draft.css" rel="stylesheet" />

</head>

<body>
    <style>

    </style>

    <div id="app"></div>

    <script src="public/js/jquery-3.1.1.js"></script>
    <script src="public/js/jquery-ui.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/notecard.js"></script>
    <script src="public/js/group.js"></script>
    <script src="public/js/bundle.js"></script>

</body>

</html>